nb-close{
    cursor: pointer;
    border: 1px solid red;
    border-radius: 5px;
}
.ripple{
    border: 1px solid red;
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 12px;
    color:red;
    text-align: center;
    border-radius: 50%;
}